<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>@ViewData["Category"] - ScoreBoard</title>

    <link rel="stylesheet" href="~/css/layout.css">
    <link rel="stylesheet" href="~/css/table.css">

    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.grey-red.min.css" />
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
</head>
<body>

<div id="header">
    <div><p id="header-field-tour">Тур: @ViewData["Tour"]</p></div>
    <div><p id="header-field-polygon">Полигон: @ViewData["Polygon"]</p></div>
    <div><p id="header-field-category">Категория: @ViewData["Category"]</p></div>
    <div><p id="header-field-round">Раунд: @ViewData["Round"]</p></div>
    <button id="header-field-logout" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--raised mdl-color--green-500">
        Log out
    </button>
</div>

<div id="content">
    <table class="mdl-data-table">
        <thead>
        @RenderSection("THeader")
        </thead>

        <tbody>
        @RenderBody()
        </tbody>
    </table>
</div>

<div id="footer">
    <div>
        <p>
            @ViewData["JudgeName"]
        </p>
    </div>
</div>
    @RenderSection("Scripts")
</body>
</html>